agtaatatcagcatggcgcttgccgtacagatgaccagggtgtcgataaa
aatgccaatcatctggacaatcccttgcgctgccggatgcggaggccagg
acgccgctgccgctgccgcgtttggcgtcgaacccattcccgcctcattg
gaaaacatactgcgctgaaaaccgttagtaatcgcctggcttaaggtata
tcccgccgcgccgcctgccgcttcctgccagccaaaagcactctcaaaaa
tagaccaaatgacgtggggaagttgcccgatattcattacgcaaattacc
aggctggtcagtacccagattatcgccatcaacgggacaaagccctgcat
gagccgggcgacgccatgaagaccgcgagtgattgccagcagagtaaaga
cagcgagaataatgcctgtcaccagcgggggaaaatcaaaagaaaaactc
agggcgcgggcaacggcgttcgcttgaactccgctgaaaattatgccata
ggcgatgagcaaaaagacggcgaacagaacgcccatccagcgcatcccca
