name: PR Workflow

on:
  pull_request:
    branches: [main, temp]
concurrency: 
  group: ${{github.workflow}} 
  cancel-in-progress: true
jobs:
  queue_job:
    # concurrency:
    #   group:  ${{github.workflow}}
    runs-on: ubuntu-latest
    steps:
    - name: workflowName 
      run: echo ${{github.workflow}}
    - name: Refname
      run: echo ${{ github.ref_name }}
    - name: jobname
      run: echo ${{github.job}}
    - name: refName
      run: echo ${{github.ref}}
    - name: Repo
      run: echo ${{github.repository}}
  SleepyBoyJob:
    needs: queue_job
    # concurrency:
    #   group: SleepyBoyJob 
    runs-on: ubuntu-latest
    steps:
    - name: sleepy jobname
      run: echo ${{github.job}}
    - name: Sleep boy
      run: echo "Sleeping for 1 min see ya..."
    - uses: GuillaumeFalourd/wait-sleep-action@v1
      with:
        time: '20' # for 60 seconds
    - name: Run the job
      run: echo "Running your job here..." 
  SleepyJob2:
    needs: SleepyBoyJob
    # concurrency:
    #   group: SleepyBoyJob 
    runs-on: ubuntu-latest
    steps:
    - name: sleepy jobname
      run: echo ${{github.job}}
    - name: Sleep boy
      run: echo "Sleeping for 1 min see ya..."
    - uses: GuillaumeFalourd/wait-sleep-action@v1
      with:
        time: '10' # for 60 seconds
    - name: Run the job
      run: echo "Running 2nd job here..." 
