name: PR Workflow

on:
  pull_request:
    branches: [main, temp]
  # group: ${{ github.workflow }}-${{ github.ref }}
jobs:
  queue_job:
    concurrency:
      group: ${{github.workflow}}
    runs-on: ubuntu-latest
    steps:
    - name: workflowName 
      run: echo ${{github.workflow}}
    - name: Refname
      run: echo ${{ github.ref_name }}
    - name: refName
      run: echo ${{github.ref}}
    - name: stakoverflow
      run: |
          # Short name for current branch. For PRs, use target branch (base ref)
          GIT_BRANCH=${GITHUB_BASE_REF:-${GITHUB_REF#refs/heads/}}
          echo "GIT_BRANCH=$GIT_BRANCH" >> $GITHUB_ENV
    - name: Sleep boy
      run: echo "Sleeping for 1 min see ya..."
    - uses: GuillaumeFalourd/wait-sleep-action@v1
      with:
        time: '90' # for 60 seconds
    - name: Run the job
      run: echo "Running your job here..."
    - name: Complete the job
      run: echo "Job complete."




