name: PR Workflow

on:
  pull_request:
    branches: [main, temp]
jobs:
  queue_job:
    concurrent: false
    runs-on: ubuntu-latest
    steps:
    - name: workflowName 
      run: echo ${{github.workflow}}
    - name: refName
      run: echo ${{github.ref}}
    - name: Sleep boy
      run: echo "Sleeping for 1 min see ya..."
    - uses: GuillaumeFalourd/wait-sleep-action@v1
      with:
        time: '90' # for 60 seconds
    - name: Run the job
      run: echo "Running your job here..."
    - name: Complete the job
      run: echo "Job complete."

